body{
    font-family: cursive;
    margin:0
}

.menu {
    text-decoration: none;
    background: #111;
    width: calc(100%/3);
    display: inline-block;
    text-align: center;
    color: whitesmoke;
    height: 35px;
    padding-top: 10px;
    cursor: pointer;
}

.menu:hover{
    background-color: #404040
}

#menu{
    width: 100%;
    margin:0
}

#menu a{
    width:100%;
    background-color: #00933C;
    color: whitesmoke;
}

a{
    text-decoration: none;
}

.accueilContent{
    top: 6em;
    padding: 2em;
    width: 36em;
    margin-left:10%
}

.error{
    margin-top: 11px;
    background-color: #ef0808a6;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    border: 3px solid #d02b2b
}

.map{
    margin:auto;
    position: relative;
    width: 80vw; 
    height: calc(40vw);
}

h1{
    text-align: center
}